<div>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control"
           name="title">
  </div>
  <div class="form-group">
    <label for="publisher">Publisher</label>
    <input class="form-control"
           name="publisher">
  </div>
  <div class="form-group">
    <label for="platform">Platform</label>
    <input class="form-control"
           name="platform">
  </div>
  <input type="button"
         class="btn btn-primary"
         value="Add">
</div>
